body {
    margin: 0;

Background: url(img/cones.jpeg) no-repeat 50% center;

background-size: cover!important;
    width: 100%;
    height: 100vh;
}

.front-header-image {
    
}


.message {
    text-align: center;
    color: white;
}


.front-header-image {
   
}
