body {
    mardgin: 0;
}

.front-header-image {
    background: url(img/cones.jpeg) no-repeat 50% center;
}


.message {
    text-align: center;
}


.front-header-image {
    background-size: cover!important;
    width: 100%;
    height: 100vh;
}
